/* Aligning heading text. */

.headr{
    text-align: center;
    color: #1e3661;
    font-size: 40px;
    font-family: 'Comfortaa';
    font-weight: bold;
}

/* Aligning paragraph text */

.info{
    margin: 4px;
    color: #4A7BA2;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

/* Color on h2 elements */

.title{
    color: #1d2d26;
    margin: 2px;
    text-align: center;
}

/* Image stylization. */

.pic{
    display: block;
    border: 1px solid #BDA97E;
    padding: 5px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    
}

/* Page color */

body {background-color: #DED6C3;}

/* Adding top navigation bar style. */

ul.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #BDA97E;
    width: 100%;
}

ul.navbar li {float: left}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
}

ul.navbar li a:hover:not(.active) {background-color: #1d2d26;}

ul.navbar li a.active {background-color: #4A7BA2;}

body {margin: 0;}


/* Adding footer style */

.foot{
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #BDA97E;
    color: white;
    text-align: center;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.pic:hover {
    transform: scale(1.02); 
  }





